html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(sss/img1.jpg.jpg);
    height:  100% ;
    width: 100%;


}
.pimg2{
    background-image:url(sss/‫img2.jpg.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(sss/img3.jpg.jpg);
    min-height: 400px;
}


.pimg1,.pimg2,.pimg3
{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing:7px ;
    text-transform: uppercase;

}
.textpg{
    background-color: white;
    padding: 20px;
    border: 2px solid black;

}
.section{
    padding: 50px 80px;
    text-align: center;


}
.section-light{
    background-color: whitesmoke;
    color: black;
}
.section-dark{
    background-color: black;
    color: white;

}
.section-dark1{
    background-color: black;
    color: white;
}